*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(20, 20, 20);
}

/* header sections*/
.header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
    color: #fff;
    font-size: larger;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}

.head-logo{
    color: #fff;
}

.head-logo h1 span{
    color: orangered;
}

.head-logo h1 span:hover{
    color: #fff;
}

.nav-bar{
    display: flex;
}

.nav-bar li{
    display: flex;
    overflow: hidden;
}

.nav-bar li a{
    padding: 15px;
    display: block;
    color: #fff;
}
.nav-bar li a:hover{
    color: orangered;
}

.contact_btn{
    padding: 10px 30px;
    color: #fff;
    margin-left: 8rem;
    background-color: orangered;
    border-radius: 30px;
    font-size: large;
    cursor: pointer;
}

.contact_btn:hover{
    color: white;
    background: transparent;
    border: 2px solid orangered;
}

/* responsive for header */

@media screen and (max-width:600px){
    .header{
        width: auto;
        height: 100px;
    }

    .head-logo{
        font-size: 14px;
        margin-top: -30px;
    }

    .nav-bar{
        margin-left: -230px;
        margin-top: 50px;
        display: flex;
        /* gap: 1px; */
    }

    .nav-bar li a{
        font-size: 13px;
        gap: 1px;
    }

    .contact_btn{
        margin-left: -150px;
        margin-top: -3px;
        width: 150px;
        height: 50px;
        font-size: 15px;
        text-align: center;
        padding: 0;
        display: none;
    }
    
}

/* home sections */

.home{
    padding: 220px 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

.description{
    padding-top: 20px;
}

.description h1{
    font-size: 30px;
    font-weight: 700;
}

.description h1 span{
    color: orangered;
    font-size: 55px;
}

.description h2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
}

.description h2 span{
    color: orangered;
    position: relative;
}

.description h2 span:after{
    content:"";
    position: absolute;
    left: 0;
    right: 0px;
    height: 100%;
    border-left:4px solid orangered;
    background-color:rgb(20, 19, 19);
    animation: text 3s infinite backwards steps(10);
}

@keyframes text{
    0%{
        left: 0;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}

.description

 p{
    width: 500px;
    margin-top: 20px;
 }

 .font i{
    margin: 25px 8px;
    border: 2px solid orangered;
    border-radius: 50%;
    padding: 13px;
    font-size: 20px;
    cursor: pointer;
    transition: .4s ease-in-out;
 }

 .font i:hover{
    background-color: orangered;
    transform: translateY(-15px);
    box-shadow: 0px 0px 15px orangered;
 }

 .description button{
    padding: 13px 20px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg,orangered,rgb(231,201,35));
    cursor: pointer;
    border: none;
 }

 .home img{
    background-color: orangered;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px orangered;
    filter: brightness(1.1);
    transition: .4s ease-in-out;
    animation: animate 2.5s ease-in-out forwards infinite;
 }

 .home img:hover{
    box-shadow: 0px 0px 50px orangered;
 }

 @keyframes animate{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
 }

@media screen and (max-width:600px){
    .home{
        display: flex;
        flex-direction: column;
        margin-left: -70px;
        margin-top: -80px;
    }
    .home img{
        height: 300px;
        width: 300px;
    }

    .description{
        width: 350px;
        margin-top: -80px;
        margin-left: -15px;
    }

    .description h1{
        font-size: 22px;
    }

    .description h1 span{
        font-size: 24px;
    }

    .description h2{
        font-size: 22px;
        margin-top: -0px;
    }

    .description p{
        font-size: 14px;
        width: 335px;
        margin-top: 3px;
    }

    .font{
        width: 350px;
        /* margin-top: 5px; */
        margin-left: -5px;
    }

    .font i{
        font-size: 15px;
        padding: none;
    }

    .description button{
        height: 20px;
        width: 80px;
        padding: 1px;
        font-size: 10px;
    }
}

/* About sections */

.about{
    display: flex;
    justify-content: space-around;
    margin: 100px 150px;
    gap: 60px;
    padding-top: 100px;
    color: #fff;
}

.about_photo img{
    background-color: orangered;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px orangered;
    filter: brightness(1.1);
    animation: animate1 2.5s ease-in-out forwards infinite;
}

@keyframes animate1{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

.about_section{
    margin-bottom: 30px;
}

.about_section h1{
    font-size: 50px;
}

.about_section h2{
    margin-top: 10px;
}

.about_section span{
    color: orangered;
}

.about_section p{
    margin-top: 15px;   
}

.about_btn{
    padding: 13px 25px;
    font-size: 20px;
    background-color: orangered;
    border-radius: 20px;
    box-shadow: 0px 0px 15px orangered;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .about{
        display:flex;
        margin-top: -270px;
        flex-direction: column;
        margin-left: 15px;
    }

    .about h1{
        font-size: 22px;
    }

    .about h1 span{
        font-size: 24px;
    }

    .about h2{
        font-size: 22px;
        margin-top: 5px;
    }
    
    .about p{
        font-size: 14px;
        width: 335px;
        margin-top: 3px;
    }

    .about_btn{
        height: 20px;
        width: 80px;
        padding: 1px;
        font-size: 10px;
    }

    .about_photo img{
        height: 300px;
        width: 300px;
        margin-left: 15px;
        margin-top: -30px;
    }
}

/* service section */
.service{
    background-color: none;
}

h2.service_section{
    margin-top: 15rem;
    color: #fff;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}

h2.service_section span{
    color: orangered;
}

.card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: justify;
    margin: 70px;
    color: #fff;
}

.service_card{
    background-color: rgb(49, 47, 47);
    padding: 30px;
    border-radius: 10px;
    transition: .5s ease;
}

.service_card:hover{
    border: 2px solid orangered;
    background-color: orangered;
    transform: translateY(-20px);
}

.service_card i{
    font-size: 40px;
    color: orangered;
}

.service_card h2{
    font-size: 30px;
    margin-top: 10px;
}

.service_card p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.service_card a{
    font-size: large;
    color: red;
}

@media screen and (max-width:600px){
    .service{
        display:flex;
        margin-top: -370px;
        flex-direction: column;
        margin-left: -25px;
    }

    h2.service_section{
        font-size: 22px;
        margin-left: -170px;
    }

    .card{
        display: flex;
        flex-direction: column;
        margin-left: 55px;
        margin-top: 15px;
    }

    .service_card{
        height: 230px;
        width: 300px;
    }

    .service_card i{
        font-size: 20px;
    }

    .service_card h2{
        font-size: 18px;
    }

    .service_card p{
        font-size: 14px;
    }

    .service_card a{
        font-size: 10px;
    }
}

/* portfolio section */
.portfolio{
    background-color: none;
}

h1.port_section{
    margin-top: 200px;
    text-align: center;
    color: #fff;
    font-size: 45px;
    padding-top: 80px;
}

h1.port_section span{
    color: orangered;
}

.project{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}

.port_card img{
    transition: .4s ease-in-out;
}

.port_card img:hover{
    transform: translateY(-20px) scale(1.1);
}

.port_card{
    object-fit: cover;
    overflow: hidden;
    box-sizing: border-box;
}

.port_card .content{
    border-image: fill 0 linear-gradient(#0001,orangered) ;
    position: relative;
    bottom: 185px;
    height: 200px;
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

.content h1{
    font-size: 25px;
    margin-bottom: 20px;
}

.content p{
    width: 350px
}

@media screen and (max-width:600px){
    .portfolio{
        margin-top: -105px;
    }

    h1.port_section{
        font-size: 22px;
        margin-top: -50px;
        margin-left: -230px;
    }

    .project{
        display: flex;
        width: 350px;
        margin-left: 8px;
        border-radius: 20px;
    }

    .port_card{
        border-radius: 5px;
    }

    .port_card img{
        height: 150px;
        width: 150px;
    }

    .content h1{
        font-size: 10px;
        text-align: left;
        margin-left: 5px;
        margin-top: 25px;
        font-weight: bold;
    }

    .content p{
        font-size: 8px;
        width: 100px;
        margin-left: 5px;
        text-align: left;
        margin-top: 5px;
        font-weight: bold;
    }
    
}

/* contact sections */
.form{
    background-color: none;
}

.form h1{
    margin: 150px 0px 40px 0px;
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 80px;
}

.form h1 span{
    color: orangered;
}

form{
    text-align: center;
    justify-content: center;
}

.form input,textarea{
    width: 550px;
    margin: 10px 340px;
    padding: 15px;
    background-color: rgb(63, 63, 63);
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.form .form_btn{
    padding: 15px 50px;
    font-size: 20px;
    background-color: orangered;
    margin: 1.5rem 33rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px orangered;
    cursor: pointer;
    border: none;
    transition:  .3s ease;
}

.form .form_btn:hover{
    background:transparent;
    border: 2px solid orangered;
    color: white;
}

@media screen and (max-width:600px){

    .form{
        display: flex;
        flex-direction: column;
        margin-top: -350px;
        width: auto;
        overflow-x: hidden;
    }
    .form h1{
        font-size: 22px;
        margin-left: -200px;
        
    }
    form{
        height: 250px;
        font-size: 20px;
        margin-left: -280px;
    }
    .form input,textarea{
        font-size: 12px;
        height: 25px;
        width: 200px;
        padding: 2px;
    }

    .form .form_btn{
        height: 20px;
        width: 80px;
        padding: 1px;
        font-size: 10px;
        margin-top: -20px;
    }
}

/* footr section */
.footer{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    height: auto;
    
}

*::selection{
    background-color: orangered;

}

@media screen and (max-width:600px){
    .footer{
        font-size: 10px;
        height: 1px;
    }
}
