/* Background */
.contact-page {
  width: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* Center big box */
.contact-box {
  width: 100%;
  max-width: 1100px;
  display: flex;
  gap: 40px;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background-color:lightgray; 
  box-shadow: 0px 0px 30px black;
}

/* LEFT SIDE */
.contact-left {
  width: 45%;
  color: black;
}

.contact-left h1 {
  font-size: 40px;
  font-weight: 700;
}

.underline {
  width: 60px;
  height: 4px;
  background: black;
  margin: 10px 0 30px 0;
  border-radius: 3px;
}

.contact-left p {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 18px;
  opacity: 0.88;
}

.contact-left i {
  font-size: 22px;
  margin-right: 15px;
  color: black;
}

/* RIGHT SIDE */
.contact-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-right input,
.contact-right textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background: white;
  border: none;
  outline: none;
  border-radius: 12px;
  color: black;
}

.contact-right textarea {
  min-height: 150px;
  resize: none;
}

.send-btn {
  width: 200px;
  padding: 14px;
  background-color: darkviolet;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  transform: scale(1.05);
  background-color: white;
  color: darkviolet;
  border: 2px solid darkviolet;
}

.footer-text {
  color: #ddd;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

/* --------------------------- */
/* RESPONSIVE DESIGN */
/* --------------------------- */

@media (max-width: 900px) {
  .contact-box {
    flex-direction: column;
    padding: 30px;
  }

  .contact-left, .contact-right {
    width: 100%;
  }

  .contact-left h1 {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .contact-right input,
  .contact-right textarea {
    font-size: 14px;
  }

  .send-btn {
    width: 100%;
  }
}
